:root {
    --color-primary: #125C39;
    --color-secondary: whitesmoke;
    --color-accent: #0E3F27;
    --font-sans: sans-serif;
    --font-serif: serif;
    --font-mono: monospace;
}

html, body {
    font-family: var(--font-sans);
}

.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: auto;
    margin: 0;
    padding: 0;
}

.title-contianer {
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 10px;
}

.title {
    color: var(--color-secondary);
    font-weight: bold;
    font-size: large;
}

.nav-container {
    align-items: ;
}

.nav-button {
    border-style: none;
    background-color: transparent;
    cursor: pointer;
}

/* .nav-buttons a {
    text-decoration: none;
    color: var(--color-secondary);
    font-weight: 900;
    font-size: small;
} */