:root {
  --color-primary: #125c39;
  --color-secondary: whitesmoke;
  --color-accent: #0e3f27;
  --font-sans: sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
}

html,
body {
  font-family: var(--font-sans);
  background-color: #0e3f27;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hidden {
  display: none;
}

/* Header Mobile - Start */
.header-container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  gap: 10px;
  width: 100%;
  height: 3.5rem;
  padding: 0;
  background-color: var(--color-primary);
  z-index: 1000;
}

.title-container {
  display: flex;
  align-items: center;
}

.logo-container {
  padding: 4px 5px 0 5px;
  cursor: pointer;
}

.main-title {
  padding: 2px;
}

.main-title a {
  color: var(--color-secondary);
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}

.menu-container button {
  background-color: transparent;
  border: none;
  float: right;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 3.5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-secondary);
  z-index: 2;
}

.nav-menu {
  display: none;
}

.nav-menu-mobile {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: right;
  justify-content: space-between;
  gap: 10px;
  margin: 200px 20px 0 20px;
}

.nav-menu-mobile a {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
}

.homepage-cards {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin-top: 3.5rem;
  gap: 20px;
}

.homepage-card {
  padding: 20px;
  background-color: var(--color-primary);
  border-radius: 10px;
}

.homepage-card a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;
  background-color: var(--color-accent);
  margin: 5px 0;
  padding: 5px;
  border-radius: 5px;
}

/* Header Mobile - End */

/* Homepage Mobile - Start */
.homepage-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0;
  margin-top: 3.5rem;
}

.homepage-content {
  margin: 20px;
}

.homepage-title {
  font-weight: bold;
  line-height: 1;
}

.homepage-title h1 {
  margin-bottom: 0;
}

.homepage-title h3 {
  margin: 10px 0 0 2px;
}

.nav-buttons {
  border: none;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 15px;
  border-radius: 5px;
}

.nav-buttons a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;
}

.nav-buttons::after {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.video-container {
  margin: 0 20px;
  border-radius: 7px;
  height: 350px;
  overflow: hidden;
  box-shadow: var(--color-primary) 0px 0px 10px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 0;
  bottom: 0;
  background-color: var(--color-primary);
  position: sticky;
}

.footer-social {
  margin: 20px;
}

.footer-buttons {
  border: none;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  padding: 15px;
  border-radius: 5px;
  margin: 3px;
}

.footer-buttons a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: bold;
}

.footer-title {
  margin: 20px;
}

.footer-text {
  margin: 20px;
  font-size: small;
}

/* Header & Homepage Desktop - Start */
@media screen and (min-width: 768px) {
  /* Header */
  .main-title a:hover {
    background-color: var(--color-accent);
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }

  .burger-button {
    display: none;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    margin: 20px;
  }

  .nav-menu a {
    background-color: none;
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
    padding: 2px;
    font-size: medium;
    font-weight: bold;
    border-radius: 0;
  }

  .nav-menu a:hover {
    border-bottom: solid 3px var(--color-secondary);
    transition: border-bottom 0.2s ease-in-out;
  }

  .nav-menu a::after {
    color: var(--color-primary);
    background-color: var(--color-secondary);
  }

  /* Homepage */
  .homepage-title {
    font-size: large;
  }

  .homepage-text {
    font-size: large;
  }

  .nav-buttons {
    padding: 20px;
    font-size: medium;
  }

  .video-container {
    margin: 50px;
    height: 400px;
    border-radius: 7px;
  }

  .homepage-card:hover {
    background-color: var(--color-secondary);
    color: var(--color-accent);
    transition: background-color 0.2s ease-in-out;
  }
}

/* Header & Homepage Desktop - End */

/* About Section - Start */
.about-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.about-header h1 {
  text-align: center;
  font-family: var(--font-sans);
  color: var(--color-secondary);
  font-size: 18px;
  font-weight: bold;
}

.mission-container {
  height: fit-content;
  position: relative;
  text-align: center;
  width: 100%;
}

.mission-container img {
  height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-secondary);
  padding: 10px 20px;
  font-size: 15px;
  inline-size: 350px;
}

.overlay-text h1 {
  font-family: var(--font-sans);
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
}

.main-container {
  width: 100%;
  height: 100%;
  color: rgb(26, 26, 26);
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 30px;
}

.main-container h2 {
  font-family: var(--font-sans);
  color: var(--color-secondary);
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 20px;
  text-align: center;
}

.main-container p {
  font-family: var(--font-sans);
  text-align: justified;
  padding: 0 20px;
  font-size: 15px;
}

.timeline-container {
  height: fit-content;
  width: 100%;
  background-image: url("/assets/images/forest-arial.jpg");
  background-size: 100%;
  color: var(--color-secondary);
  text-align: left;
}

.timeline-container img {
  height: fit-content;
  width: 100%;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.timeline-container h2 {
  font-family: var(--font-sans);
  color: var(--color-secondary);
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 15px;
  text-align: left;
  padding-left: 20px;
}

.timeline-container p {
  text-align: center;
}

.faq-button-container {
  color: var(--color-secondary);
  text-align: center;
}

.faq-button {
  font-family: var(--font-serif);
  font-weight: bold;
  border-radius: 5px;
  border: var(--color-secondary);
  border-style: solid;
  background-color: var(--color-primary);
}

.faq-button a {
  color: var(--color-secondary);
  font-family: var(--font-serif);
  font-weight: bold;
  text-decoration: solid;
}

.faq-title {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  height: fit-content;
  color: var(--color-secondary);
  font-family: var(--font-sans);
  font-size: 25px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;
  text-align: center;
}

.accordion {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: var(--color-accent);
}

.panel {
  padding: 0 18px;
  background-color: var(--color-secondary);
  color: black;
  display: none;
  overflow: hidden;
}

.additional-questions-container p {
  text-align: center;
  font-size: 24px;
  font-family: var(--font-sans);
}

.contact-right {
  flex-basis: 60%;
}

.btn.btn2 {
  display: inline-block;
  background: var(--color-primary);
  color: var(--color-secondary);
  padding: 20px;
  font-size: medium;
  border: none;
  
}

.btn.btn2:hover {
  background: var(--color-accent);
}

.contact-right form {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: rgb(182, 181, 181);
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  /* padding: 14px 60px; */
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .about-header h1 {
    font-size: 48px;
    font-weight: 500;
  }

  .overlay-text {
    font-size: 20px;
    inline-size: 450px;
  }

  .overlay-text h1 {
    font-weight: 400;
    font-size: 64px;
    color: #ffffff;
  }

  .overlay-text p{
    font-size: 24px;
    font-weight: 400;
  }

  .main-container h2 {
    font-size: 48px;
  }

  .main-container p{
  padding-left: 300px;
  padding-right: 300px;
  font-size: 18px;
  }

  .timeline-container h2 {
    font-size: 48px;
  }

  .faq-title {
    font-size: 56px;
  }
}

/* About Section - End */

/* Get Involved Section - Start */
  .getinvolved {
    border: 10px double #0e3f27;
    margin: 20px;
    background-color: var(--color-secondary);
    text-align: left;
    color: black;
  }
  
  .getinvolved h1 {
    font-family: var(--font-sans);
    color: var(--color-primary);
    padding-left: 1%;
    font-size: 300%;
    font-weight: bolder;
  }
  
  .getinvolved p {
    font-size: large;
    color: var(--color-primary);
    font-family: var(--font-serif);
    padding: 1%;
  }
  
  .getinvolved button {
    margin: 1%;
    padding: 15px 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  
  .getinvolved button:hover {
    background: var(--color-accent);
  }
  
  .flex-box {
    display: flex;
  }
  
  .getinvolved-intro {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 2%;
    padding-right: 2%;
    width: 98%;
    margin: 1%;
    box-sizing: border-box;
    padding-top: 0.5%;
    padding-bottom: 1%;
    display: auto;
  }
  
  .donation-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 2%;
    padding-right: 2%;
    width: 49%;
    float: left;
    margin-bottom: 1%;
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 0.5%;
    padding-bottom: 1%;
  }
  
  .donation-box p {
    margin-bottom: 10px;
  }
  
  .vol-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding-left: 2%;
    padding-right: 2%;
    width: 49%;
    float: left;
    margin-bottom: 1%;
    box-sizing: border-box;
    margin-left: 0.5%;
    margin-right: 1%;
    padding-bottom: 1%;
    
  }
  
  .vol-box li,
  p {
    margin-bottom: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  #vol-app {
    max-width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 2%;
    box-sizing: border-box;
    color: var(--color-primary);
  }

  #vol-app h1 {
    font-family: var(--font-sans);
    font-size: 200%;
    font-weight: bolder;
  }

  #vol-app label {
    font-size: large;
    font-family: var(--font-serif);
    font-weight: bold;
    margin: 1%;
    display: block;
  }

  #vol-app input,
  #vol-app select {
    width: calc(100% - 20px);
    padding: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
    margin-top: 0%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    box-sizing: border-box;
  }

  #vol-app input[type="submit"] {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
  }

  #vol-app input[type="submit"]:hover {
    background: var(--color-accent);
  }

  #donorbox-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);       
  }

  #close-button {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    color: var(--color-secondary);
  }

  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 12px;
    padding-left: 1%;
  }

/* Get Involved Section - End */


/* Map Section */

/* Add padding above weather widgets */
/* a.weatherwidget-io {
    padding-top: 20px;
} */

/* Center map header */
h1#mapHeader {
  text-align: center;
}

/* Change cursor over buttons */
button:hover {
  cursor: pointer;
}

/* Stylings for map buttons */
button#lost,
button#talkingTrees,
button#mapPage1,
button#mapPage2 {
  height: 100px;
  background-color: var(--color-accent);
  color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  border-radius: 15px;
}

div#map {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Map Desktop stylings */
@media only screen and (min-width: 768px) {

  /* Map Desktop Stylings - Start */
  img#satMap {
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 15px;
    float: left;
  }

  /* Styling for map buttons */
  div#mapButtons {
    clear: right;
  }

  /* Control size of map buttons relative to viewport */
  div#mapButtons>button {
    /* Add stuff for buttons? */
    width: 30%;
  }

  /* Limit display size of desktop weather widget */
  div#weatherD {
    width: 80%;
  }

  /* Remove display of mobile weather widget on desktop */
  div#weatherM {
    display: none;
  }

  /* Should line up on map */
  div#mapMain svg {
    position: absolute;
    z-index: 1;
    top: 2;
    left: 0;
    width: 50%;
  }

  /* Map Desktop Stylings - End */
}

/* Mobile stylings */
@media only screen and (max-width: 767px) {

  /* Mobile Map Stylings */
  img#satMap {
    width: 100%;
    border-radius: 15px;
  }

  /* Controls size of map buttons relative to viewport */
  div#mapButtons>button {
    width: 100%;
  }

  /* Remove display of desktop weather widget on mobile */
  div#weatherD {
    display: none;
  }

  /* Should line up on map, if not tweak top and left */
  div#mapMain svg {
    position: absolute;
    z-index: 1;
    top: 2;
    left: 0;
    width: 100%;
  }
  /* Mobile Stylings - End */
}

/* Map Section - End */

.my-gallary {
  max-width: 80%;
  margin: auto;
}